<h1>Find Ratings for Practitioners from Yelp!</h1>

<%= form_tag search_path(format: :json), method: :get do %>
  <div class="doctor">
      <h5>Enter a specific practice or area of practice<br>
      (returns json formatted results):</h5>
      <%= text_field_tag :term, params[:term], placeholder: 'Dr. Doom, Buck Teeth DDS' %>
  </div>
  <div class="search-button">
    <%= submit_tag 'Ooh! Ooh! Click Me!' %>
  </div>
<% end %>


<%= form_tag search_path(format: :html), method: :get do %>
  <div class="doctor">
    <h5>Enter a specific practice or area of practice<br>
      (returns html formatted results):</h5>
    <%= text_field_tag :term, params[:term], placeholder: 'Dr. Doom, Buck Teeth DDS' %>
  </div>
  <div class="search-button">
    <%= submit_tag 'Ooh! Ooh! Click Me!' %>
  </div>
<% end %>
